@font-face {
font-family: Orkney;
src: url("fonts/Orkney-Regular.woff") format("woff"), url("fonts/Orkney-Regular.ttf")  format("truetype");
}

@font-face {
font-family: Orkney;
font-weight: bold;
src: url("fonts/Orkney-Bold.woff") format("woff"), url("fonts/Orkney-Bold.ttf")  format("truetype");
}

@font-face {
font-family: Orkney;
font-weight: thin;
src: url("fonts/Orkney-Light.woff") format("woff"), url("fonts/Orkney-Light.ttf")  format("truetype");
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Buttons */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  /*border: .05rem solid #fff;*/
}

/* Menu */
.btn-mr{
  color: #ffffff;
background-color: #1173BA;
    padding: .75rem 1.25rem;
    margin: 0 1rem;
  font-weight:700;
  text-transform: uppercase;
  line-height: 35px;
}

.btn-mr:hover,
.btn-mr:focus {
	color: #c22026;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
}

/* Register */
.btn-rgs{
color: #fff;
background-color: #c22026;
    padding: .75rem 1.25rem;
font-weight:700;
  text-transform: uppercase;
}

.btn-rgs:hover,
.btn-rgs:focus {
	color: #c22026;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
}

/*
* Base structure
*/

html,
body {
  height: 100%;
  background: #192a56;
  min-width: 320px;
}

body {
  color: #fff;
  font-family: Orkney, Arial, sans-serif;
}

h1{
	font-weight: bold;
}

/*Sections*/

/*
* Cover
*/
.cover {
  padding: 10rem 1.5rem;
}
.cover-img {
  width:100%;
  margin-left: -500px;
  margin-top: 1rem;

}

.cover-heading{
	  font-size: 3rem;
}

.alt-bg-r{
	  background-color: #c22026;
}

.alt-bg-b{
	  background-color: #1572ba;
}

.logo-f img{
  width: 150px;
}

.section{
	  margin-top: -70px; /* height of nav, in this case 54px */
    display: block;
    height: 70px; /* height of nav, in this case 54px */
    visibility: hidden;
    position: relative;
}

.s-img {
	width: auto;
	height: 200px;
}

.s-container{
justify-content: center;
align-content: center;
}

.ct-style{
font-size: 1.5em;
  padding: 0.5em;
  text-transform: uppercase;
}

.ct-style span {
  font-size: 4.5rem;
   margin: 0 auto;
     text-align: center;
}


/*
* Header
*/
.masthead {
  margin-bottom: 2rem;
  background-color: #fff;
}

.masthead .navbar-brand{
  margin-bottom: 0;
  padding-left: 5rem;
  font-weight: 700;
  color: #303030;
}

.nav-masthead .nav-link {
  padding: 1rem 0;
  font-weight: 700;

  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(25, 42, 86, .75);
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}

/* Viz */
.vizdis {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
}

.vizline {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 4rem;
  transform-origin: 50% 100%;
  background: white;
}

.schd{
	font-size: 1.25rem;
}

.highlight{
	padding: 0.4rem 0.25rem 0.25rem 0.25rem;
	background: #FFF;
	color: #202020;
		font-weight: bold;

}

/*
* Footer
*/
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.mastfoot p{
  padding: 0 1rem;
  	  text-align: center;
}


@media (max-width: 1200px) {
  .masthead .navbar-brand{
    padding-left: 2rem;
  }
  .cover {
    padding: 7rem 1.5rem;
  }
  .cover-img {
    margin-top: 3.5rem;
  }
}

@media (max-width: 800px) {
  .cover {
    padding: 5rem 1.5rem;
  }
  .cover-img {
    margin-top: 1rem;
  }
}

@media (max-width: 750px) {
  .cover {
    padding: 0.3rem 1.5rem;
    text-align:center
  }
  .cover-img {
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .cover {
    padding: 0.3rem 0.5rem;
  }
  .cover-img {
    margin-top: 1rem;
  }
}
