/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
* Base structure
*/

html,
body {
  height: 100%;
  background: #192a56;
  min-width: 320px;
}

body {
  color: #fff;
}

.cover-container {
  max-width: 70em;
}

/*
* Header
*/
.masthead {
  margin-bottom: 2rem;
  background-color: #fff;
}

.masthead a{
  color: #303030;
}

.masthead .navbar-brand{
  margin-bottom: 0;
  padding-left: 5rem;
  font-weight: 700;
  color: #303030;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(25, 42, 86, .75);
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}

/* Viz */
.vizdis {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
}

.vizline {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 4rem;
  transform-origin: 50% 100%;
  background: white;
}

/*
* Cover
*/
.cover {
  padding: 5rem 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
* Footer
*/
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.mastfoot p{
  padding: 0 1rem;
}

@media (max-width: 1200px) {
  .masthead .navbar-brand{
    padding-left: 2rem;
  }
  .cover {
    padding: 3rem 1.5rem;
  }
}

@media (max-width: 800px) {
  .cover {
    padding: 1rem 1.5rem;
  }
}
